@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{ }
/*--------------=>Basic calsses,=--------- */
.basic-color{
    color: rgb(219, 121, 9) !important;
}
.active{
    color: rgba(247, 131, 7, 0.75) !important;
}


.text-white{
    color:white;
}
.fs-l{
font-size:60px !important;
font-family: "Pacifico", cursive;
}
.btn-primary{
    background-color: black !important;
    border-color: black !important;
}
.btn-primary:hover , .btn-primary:active{
    border-color:rgb(71, 69, 69) !important;
    background-color:rgb(218, 117, 3) !important ;
}
.btn-primary:focus,.btn-primary:active:focus{
    box-shadow: 0 0 0 .25rem rgba(253, 158, 49, 0.5) !important;
    border: transparent;
    background-color:rgb(218, 117, 3) !important ;
}
.rounded-5{
    border-radius: 50px !important;
}

.form-control:focus {
    border-color: #feec86 !important;
    box-shadow: 0 0 0 .25rem rgba(234, 175, 74, 0.532) !important;
}
.bg-white-30{
    background-color: rgb(181, 177, 177);
}
.over-h{
    overflow: hidden;
}
label{
    font-size: 22px !important;
}
    /*-----------------------------------*/
.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
    color: rgba(247, 131, 7, 0.75) !important;
}   
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82, 49, 3, 0.878) 50%, rgba(7,60,70,1) 100%);

    font-family: "Concert One", sans-serif !important;
    font-weight: 400;
}
.left-side{
    border-right: 5px solid black;
}

.heading{
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    background-size: 200% auto;
    color: #cecdcd;
  }
/*animation*/
@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
    
